// -----------------------------------------------------------------
// infoprice
// -----------------------------------------------------------------
.lp {
  &-sec-infoprice {
    margin-bottom: 120px;

    @include sp() {
      margin-bottom: vw(80);
    }

    .lp-infoprice-content {
      .lp-c-btn {
        margin-bottom: 48px;
      }

      .lp-description {
        text-align: center;
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.04em;
        font-weight: 400;
      }

      .lp-caption {
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0.04em;
        font-weight: 400;
        text-align: center;
        margin-top: 24px;
      }

      .lp-table-link {
        text-align: center;
        margin-top: 40px;
      }

      &:not(:last-child) {
        margin-bottom: 80px;

        @include sp() {
          margin-bottom: vw(56);
        }
      }
    }
  }

  &-step {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;

    @include sp(){
      padding-top: vw(40);
    }

    &-left {
      width: 600px;

      @include sp(){
        width: 100%;
      }

      .lp-step-content {
        height: 100%;
      }
    }

    &-middle {
      display: flex;
      align-items: center;
      justify-content: center;

      @include sp() {
        width: 100%;
      }
    }

    &-right {
      width: 488px;
      padding: 21px 21px 21px;
      border: 3px dashed $primary_color;
      border-radius: 24px;

      @include sp(){
        width: 100%;
        padding: vw(12);
        border-radius: vw(24);
      }
    }

    &-plus {
      width: 24px;
      margin: 16px auto;

      @include sp(){
        width: vw(24);
        margin: vw(12) auto;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-head {
      display: flex;
      align-items: center;
      height: 80px;
      background-color: $main_color;
      padding: 0 24px;
      color: $white_color;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      @include sp(){
        height: vw(64);
        padding: 0 vw(24);
        border-top-left-radius: vw(16);
        border-top-right-radius: vw(16);
      }

      img {
        display: block;
        width: 95px;
        margin-right: 16px;

        @include sp(){
          width: vw(93);
          margin-right: vw(16);
        }
      }

      p {
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.04em;
        font-weight: bold;

        @include sp(){
          font-size: vw(20);
        }
      }
    }

    &-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      background-color: $table_row_color;
      padding: 32px 40px 40px 40px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;

      @include sp(){
        padding: vw(24) vw(12);
        border-bottom-left-radius: vw(16);
        border-bottom-right-radius: vw(16);
      }
    }

    &-txt {
      text-align: center;
      font-size: 18px;
      line-height: 1.8;
      letter-spacing: 0.04em;
      font-weight: 400;

      @include sp(){
        font-size: vw(15);
      }
    }

    .lp-table {
      thead {
        th {
          &:last-child {
            border-top-right-radius: 4px;
          }

          &:nth-last-child(2) {
            border-top-left-radius: 4px;
          }
        }
      }

      tr {
        min-height: 93px;

        @include sp(){
        
        }

        td {
          text-align: center;

          &:first-child {
            padding: 12px 12px;
            font-weight: bold;

            @include sp(){
              @include sp(){
                padding: 0 vw(8);
              }
            }
          }

          &>span {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.04em;
            line-height: 1.8;

            @include sp(){
              font-size: vw(14);
            }
          }

          &:last-child {
            td {
              &:first-child {
                border-bottom-left-radius: 4px;
              }

              &:last-child {
                border-bottom-right-radius: 4px;
              }
            }
          }
        }

        &:first-child {
          td {
            p {
              color: $main_color;
            }

            &:first-child {
              color: $main_color;
            }
          }
        }

        p {
          font-size: 28px;
          line-height: 1.8;
          letter-spacing: 0.04em;
          font-weight: bold;

          @include sp(){
            font-size: vw(24);
          }
        }

        .lp-yen {
          font-size: 20px;

          @include sp(){
            font-size: vw(16);
          }
        }

        .lp-month {
          font-size: 14px;
          font-weight: 400;

          @include sp(){
            font-size: vw(14);
          }
        }
      }

      .lp-bt-left-radius {
        border-top-left-radius: 4px !important;
  
        @include sp(){
          border-top-left-radius: vw(4) !important;
        }
      }
    }
  }

  &-mailbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0;

    @include sp() {
      gap: vw(16) 0;
    }

    &-item {
      width: 560px;
      display: flex;
      justify-content: space-between;
      padding: 32px 40px 32px 24px;
      border-radius: 8px;
      border: 1px solid $border_color;

      @include sp() {
        width: 100%;
        flex-wrap: wrap;
        padding: vw(24) vw(24) vw(32) vw(24);
      }
    }

    &-media {
      width: 144px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      @include sp() {
        width: vw(258);
        column-gap: vw(8);
        flex-direction: row;
        align-items: center;
        margin: 0 auto vw(16);

        &>figure {
          width: vw(104);
        }

        .lp_mailbox_logo {
          width: vw(146);
        }
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }

    &-detail {
      width: 312px;
      color: $base_color;
      letter-spacing: 0;

      @include sp() {
        width: 100%;
      }

      .lp-mailbox-inner {
        &:not(:first-child) {
          margin-top: 16px;

          @include sp() {
            margin-top: vw(16);
          }
        }
      }

      &-list {
        margin-top: 8px;
        padding-left: 17px;
        margin-left: 5px;

        @include sp() {
          margin-top: vw(8);
          padding-left: vw(17);
          margin-left: vw(5);
        }
      }

      &-item {
        font-size: 14px;
        line-height: 1.8;
        font-weight: 400;
        list-style-type: disc;

        @include sp() {
          font-size: vw(14);
        }
      }

      &-btn {
        margin-top: 16px;

        @include sp() {
          margin-top: vw(16);
        }
      }
    }

    &-label {
      background-color: $table_row_color;
      padding: 16px 24px;
      text-align: center;
      margin-bottom: 16px;
      color: $main_color;
      letter-spacing: 0.04em;
      font-size: 20px;
      line-height: 1;
      font-weight: bold;

      @include sp() {
        padding: vw(12) vw(16);
        margin-bottom: vw(12);
        font-size: vw(18);
      }
    }

    &-strong {
      font-size: 16px;
      line-height: 1.8;
      font-weight: bold;

      @include sp() {
        font-size: vw(15);
      }
    }

    &-txt {
      font-size: 16px;
      line-height: 1.8;
      font-weight: 400;

      @include sp() {
        font-size: vw(15);
      }
    }
  }
}