// -----------------------------------------------------------------
// multibox
// -----------------------------------------------------------------

.lp {
  &-sec-multibox {
    padding-top: 64px;
    margin-bottom: 160px;

    @include sp() {
      padding-top: vw(40);
      margin-bottom: vw(80);
    }
  }

  &-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 56px;
    letter-spacing: 0.04em;

    @include sp() {
      justify-content: space-between;
      gap: vw(16) 0;
      margin-bottom: vw(32);
    }

    &-head {
      margin-bottom: 32px;

      @include sp() {
        margin-bottom: vw(24);
      }
    }

    li {
      width: 272px;
      display: flex;
      flex-direction: column;

      @include sp() {
        width: calc(50% - vw(6));
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 22px 23px;
      border: 1px solid $border_color;
      border-radius: 8px;

      @include sp() {
        padding: vw(16) vw(16) vw(24);
      }
    }

    &-second {
      .lp-card-item {
        height: 100%;
      }

      &-img {
        @include pc() {
          margin-bottom: 8px;
        }
      }
    }

    &-img {
      @include pc() {
        margin-bottom: 8px;
      }
    }

    &-body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-txt {
      font-size: 14px;
      line-height: 1.8;
      color: $base_color;
      margin-bottom: 24px;
      font-weight: 400;

      @include sp() {
        font-size: vw(13);
        margin-bottom: vw(16);
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;

      @include sp() {
        gap: vw(16) 0;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-link {
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.08em;
      font-weight: bold;
      color: $main_color;
      text-decoration: underline;

      @include sp() {
        font-size: vw(15);
      }

      @include pc() {
        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }
}

.accounting {
  .lp-card-item {
    @include pc() {
      padding: 23px 23px;
    }
  }
}

.lp-card-second {
  @include pc() {
    gap: 32px;

    li {
      width: 268px;
    }
  }
}